<%= content_for :head do %>
  <%= stylesheet_link_tag 'bootstrap_docs', :media => 'all' %>
<% end %>
<% @eras_kings = eras_kings %>
<div class="row">
  <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
      <%=
        @eras_kings.map do |key, dynasty|
          html = <<-HTML
            <li>
              <a href="#{'#' + key}">
                <i class="icon-chevron-right"></i>
                #{dynasty['dynasty']}
              </a>
            </li>
          HTML
        end.join.html_safe
      %>
      <li>
        <a href="#ganzhi">
          <i class="icon-chevron-right"></i>
          附录：干支次序表
        </a>
      </li>
    </ul>
  </div>
  <div class="span9">
    <h2 class="offset2">中国历代帝王表</h2>
    <%=
      @eras_kings.map do |key, dynasty|
        if dynasty.has_key? 'children'
          index = 0
          dynasty['children'].map do |child_key, child_dynasty|
            main_title = index == 0  ? "#{dynasty['dynasty']}（#{dynasty['range']}）" : ''
            index = index + 1
            eras_dynasty_kings child_dynasty, {
              :key => key,
              :main_title => main_title,
              :slave_title => "#{child_dynasty['dynasty']}（#{child_dynasty['range']}）"
            }
          end.join
        else
          eras_dynasty_kings dynasty, {
            :key => key,
            :main_title => "#{dynasty['dynasty']}（#{dynasty['range']}）",
            :slave_title => ''
          }
        end
      end.join.html_safe
    %>
    <section id="ganzhi">
      <div class="page-header">
        <h3>附录：干支次序表</h3>
      </div>
      <table class="table table-bordered">
        <tr>
          <td>1</td>
          <td>甲子</td>
          <td>2</td>
          <td>乙丑</td>
          <td>3</td>
          <td>丙寅</td>
          <td>4</td>
          <td>丁卯</td>
          <td>5</td>
          <td>戊辰</td>
          <td>6</td>
          <td>己巳</td>
          <td>7</td>
          <td>庚午</td>
          <td>8</td>
          <td>辛未</td>
          <td>9</td>
          <td>壬申</td>
          <td>10</td>
          <td>癸酉</td>
        </tr>
        <tr>
          <td>11</td>
          <td>甲戌</td>
          <td>12</td>
          <td>乙亥</td>
          <td>13</td>
          <td>丙子</td>
          <td>14</td>
          <td>丁丑</td>
          <td>15</td>
          <td>戊寅</td>
          <td>16</td>
          <td>己卯</td>
          <td>17</td>
          <td>庚辰</td>
          <td>18</td>
          <td>辛巳</td>
          <td>19</td>
          <td>壬午</td>
          <td>20</td>
          <td>癸未</td>
        </tr>
        <tr>
          <td>21</td>
          <td>甲申</td>
          <td>22</td>
          <td>乙酉</td>
          <td>23</td>
          <td>丙戌</td>
          <td>24</td>
          <td>丁亥</td>
          <td>25</td>
          <td>戊子</td>
          <td>26</td>
          <td>己丑</td>
          <td>27</td>
          <td>庚寅</td>
          <td>28</td>
          <td>辛卯</td>
          <td>29</td>
          <td>壬辰</td>
          <td>30</td>
          <td>癸巳</td>
        </tr>
        <tr>
          <td>31</td>
          <td>甲午</td>
          <td>32</td>
          <td>乙未</td>
          <td>33</td>
          <td>丙申</td>
          <td>34</td>
          <td>丁酉</td>
          <td>35</td>
          <td>戊戌</td>
          <td>36</td>
          <td>己亥</td>
          <td>37</td>
          <td>庚子</td>
          <td>38</td>
          <td>辛丑</td>
          <td>39</td>
          <td>壬寅</td>
          <td>40</td>
          <td>癸卯</td>
        </tr>
        <tr>
          <td>41</td>
          <td>甲辰</td>
          <td>42</td>
          <td>乙巳</td>
          <td>43</td>
          <td>丙午</td>
          <td>44</td>
          <td>丁未</td>
          <td>45</td>
          <td>戊申</td>
          <td>46</td>
          <td>己酉</td>
          <td>47</td>
          <td>庚戌</td>
          <td>48</td>
          <td>辛亥</td>
          <td>49</td>
          <td>壬子</td>
          <td>50</td>
          <td>癸丑</td>
        </tr>
        <tr>
          <td>51</td>
          <td>甲寅</td>
          <td>52</td>
          <td>乙卯</td>
          <td>53</td>
          <td>丙辰</td>
          <td>54</td>
          <td>丁巳</td>
          <td>55</td>
          <td>戊午</td>
          <td>56</td>
          <td>己未</td>
          <td>57</td>
          <td>庚申</td>
          <td>58</td>
          <td>辛酉</td>
          <td>59</td>
          <td>壬戌</td>
          <td>60</td>
          <td>癸亥</td>
        </tr>
      </table>
    </section>
  </div>
</div>
