<div class="span4 offset3">
  <h2 class="form-signin-heading">密码取回</h2>
  <%= alert_message devise_error_messages! %>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
    <%= f.text_field :email, :class => 'input-block-level',
      :placeholder => '电子邮箱'
    %>
    <div><%= f.submit "发送邮件", :class => 'btn btn-primary' %></div>
  <% end %>
</div>
